<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Larp</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/script.js" defer></script>
</head>
<body>
    <h1>Welcome Larper megatron to my kingdom!!</h1>
    <img src="/asa.png" alt="asa">
    <h2>Here is your info for this year:</h2>
    <ul>
        <li>subnett (CIDR) <span>10.10.1.0/24</span> <span>10.10.9.0/24</span> <span>10.14.14.0/24</span> <span>10.14.14.0/24</span>  <span>10.12.14.0/24</span> <span>10.12.14.0/24</span></li>
        <li>Ip-address <span>10.10.1.100</span> <span>10.10.9.101</span> <span>10.14.14.20</span> <span>10.14.14.1</span> <span>10.12.14.10</span> <span>10.12.14.1</span></li>
        <li>Place   <span>pve-backend.ikt-fag.no</span> <span>pve-frontend.ikt-fag.no</span> <span>megatron.ikt-fag.no</span> <span>Gateway Frontend</span> <span>DNS Backend</span> <span>Gateway Backend</span></li>
    </ul>
    <h3>Message to You:</h3>
    <div>Welcome to the new year of 2026 as a student. You are now a larper and to prove yourself, you will need to learn all I have learned the last year. 
        I will not give you any tips because I'm lazy and you will need to find out for yourself. Good Luck Larper megatron!!

    </div>

    <h4>Secret Image:</h4>
    <img src="/subaru.webp" alt="idk">
    <h5>This is not you btw:</h5>
    <img src="/megatron.webp" alt="find out lol">
    <section id="yahu">

    </section>
    <button>Click for Big Yahu!!</button>
</body>
</html>